.searchForm__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: rgba(120, 87, 149, 0.74);
}

.searchForm__content {
    max-width: 500px;
    width: 100%;
    display: flex;
}

.searchForm__input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
}
.searchForm__input:focus {
    background-color: #d4bb93;
}

.searchForm__button {
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d4bb93;
    transition: all 0.3s ease;
    cursor: pointer;
}

.searchForm__button:hover {
    background-color: #d99f43;
}